.switch {
    position: relative;
    width: 55px;
    height: 28px;
    background-color: #fff;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
}

.switch.on {
    background: rgba(42, 43, 46, 1);

}

.switch-circle {
    width: 24px;
    height: 24px;
    background: rgba(40, 108, 224, 1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease;
}

.switch.on .switch-circle {
    transform: translateX(27px);
}

.switch-circle span {
    font-size: 20px;
}
