.choice__card{
    background: rgba(31, 32, 34, 1);
    width: 384px;
    border: 1px solid rgba(255, 255, 255, 0.04);
    border-radius: 16px;
    padding: 16px;
}
.choice__card__blur{
    position: relative;
    background: rgba(31, 32, 34, 1);
    backdrop-filter: blur(5px);
    width: 384px;
    border: 1px solid rgba(255, 255, 255, 0.04);
    border-radius: 16px;
    padding: 16px;
    filter: blur(2px);
}

.choice__card_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Inter,sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: rgba(255, 255, 255, 1);


}
.choice__card_head_logo{
    display: flex;
    gap: 4px;
    align-items: center;
}
.choice__card_img{
    margin-top: 8px;

}
.choice__card_name{
    margin-top: 12px;
    font-family: Inter,sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    text-align: left;
    color: rgba(255, 255, 255, 1);

}
.choice__card_footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.04);
    width: 352px;
    height: 64px;
    padding: 12px;
    border-radius: 16px;
    margin-top: 16px;
}
.choice__card_footer_price{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.choice__card_footer_price:before{
    content: "";
    position: absolute;
    left: 85px;
    height: 36px;
    border: 1px solid rgba(255, 255, 255, 0.08)
}
.choice__card_footer_duration{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.choice__card_footer_begin{
    display: flex;
    flex-direction: column;
    gap: 4px;
    text-align: right;

}
.choice__card_footer_name{
    font-family: Inter,sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: rgba(255, 255, 255, 0.48);
}
.choice__card_footer_value{
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: rgba(255, 255, 255, 1);
}






.choice__card_head_block_1{
    width: 166px;
    height: 24px;
    background: rgba(255, 255, 255, 0.04);
    border-radius: 8px;
}
.choice__card_head_block_2{
    width: 120px;
    height: 24px;
    background: rgba(255, 255, 255, 0.04);
    border-radius: 8px;
}
.choice__content{
    margin-top: 8px;
    height:178px;
    width:352px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.choice__text{
    padding-top: 50px;
    font-family: Inter,sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.64);
}
