*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li{
    list-style-type: none;
}
.main{
    background: rgba(12, 12, 9, 1);
}
.container{
    margin: auto;
    max-width: 1500px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    height: 80px;
}
.logo{
    background:
            url("./img/logo_1.svg")  no-repeat left,
            url("./img/logo_2.svg")  no-repeat right top 10px;
    width: 286px;
    height: 37px;
}

.menu{


}
.menu ul{
    display: flex;
    gap: 10px;
    align-items: center;

 }
.menu li {
    border: 1px solid rgba(255, 255, 255, 0.16);
    border-radius: 14px;
    display: flex;
    align-items: center;
    height: 48px;
}
.menu_referral{
    color:  rgba(36, 34, 34, 1);
    background: linear-gradient(185.36deg, #BDFF00 0%, #EDFF7B 100%);
    font-family: Inter,sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    padding: 14px 20px;
    gap: 4px;
}
.menu_user{
    gap: 12px;
    color: rgba(255, 255, 255, 1);
    font-family: Inter,sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    height: 48px;
    padding: 8px 4px 8px 12px;
}
.menu_switch{
    padding: 10px 12px;
}
.menu_icon{
    padding: 12px;
    width: 48px;
    cursor: pointer;
}
.menu_language{
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.64);
    gap: 3px;
    padding: 12px;
    cursor: pointer;
}


.choice{
    margin-top: 16px;
    height: 100vh;


}
.choice__button{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.08);
    background: rgba(23, 23, 23, 1);
    margin: auto;
    max-width: 562px;
    height: 51px;
    padding: 4px;
    border: 1px solid rgba(255, 255, 255, 0.04);
    border-radius: 16px;

}
.choice__content{
    margin-top: 16px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}
