*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li{
    list-style-type: none;
}
.main{
    background: rgba(12, 12, 9, 1);
}
.container{
    margin: auto;
    max-width: 1500px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    height: 80px;
}
.logo{
    background:
            url("./img/logo_1.svg")  no-repeat left,
            url("./img/logo_2.svg")  no-repeat right top 10px;
    width: 286px;
    height: 37px;
}

.menu{


}
.menu ul{
    display: flex;
    gap: 10px;
    align-items: center;

 }
.menu li {
    border: 1px solid rgba(255, 255, 255, 0.16);
    border-radius: 14px;
    display: flex;
    align-items: center;
    height: 48px;
}
.menu_referral{
    color:  rgba(36, 34, 34, 1);
    background: linear-gradient(185.36deg, #BDFF00 0%, #EDFF7B 100%);
    font-family: Inter,sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    padding: 14px 20px;
    gap: 4px;
}
.menu_user{
    gap: 12px;
    color: rgba(255, 255, 255, 1);
    font-family: Inter,sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    height: 48px;
    padding: 8px 4px 8px 12px;
}
.menu_icon{
    padding: 12px;
    width: 48px;
    cursor: pointer;
}
.menu_language{
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.64);
    gap: 3px;
    padding: 12px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: blueviolet;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: violet;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.choice{
    margin-top: 16px;
    height: 100vh;


}
.choice__button{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.08);
    background: rgba(23, 23, 23, 1);
    margin: auto;
    max-width: 562px;
    height: 51px;
    padding: 4px;
    border: 1px solid rgba(255, 255, 255, 0.04);
    border-radius: 16px;

}
.choice__content{
    margin-top: 16px;

}
.choice__cart{
    background: rgba(31, 32, 34, 1);
    width: 384px;
    border: 1px solid rgba(255, 255, 255, 0.04);
    border-radius: 16px;
    padding: 16px;


}
.choice__cart_head{
    display: flex;
    justify-content: space-between;

}
.choice__cart_img{

}
.choice__cart_footer{
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.04);
    width: 352px;
    height: 64px;
    padding: 12px;
    gap: 10px;
    border-radius: 16px;

}